

body{
	background-color: #272727;
}
#header{
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-align:center;
	margin-top: 50px;
	
}
.contact_info{
	font-size: 15px;
	color: white;
	margin-top: 15px;
	text-align: center;
}
.links{
	margin-top: 15px;
	text-align: center;
}
.resume, .linkedin, .github{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.resume_png {
	display: none;
	height: 776.5px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
	
/*.form_container{
	text-align: center;
}


.form{
	display: inline-block;
	width: 500px;
	height: 350px;
	background-color: white;
	margin-top: 25px;
}
.test{
	background-color: black;
}
.test p{
	color: white;
	display: block;
	padding: 25px;
}
*/
